[
  {
    "ParameterKey": "Environment",
    "ParameterValue": "staging"
  },
  {
    "ParameterKey": "StateBucketName",
    "ParameterValue": "REPLACE_WITH_GLOBALLY_UNIQUE_STAGING_STATE_BUCKET"
  },
  {
    "ParameterKey": "AccessLogBucketName",
    "ParameterValue": "REPLACE_WITH_GLOBALLY_UNIQUE_STAGING_LOG_BUCKET"
  },
  {
    "ParameterKey": "LockTableName",
    "ParameterValue": "247-home-staging-terraform-locks"
  },
  {
    "ParameterKey": "TerraformPrincipalArn",
    "ParameterValue": "arn:aws:iam::REPLACE_ACCOUNT_ID:role/REPLACE_APPROVED_ROLE"
  }
]
