bucket         = "REPLACE_WITH_STAGING_TERRAFORM_STATE_BUCKET"
key            = "247-home/staging/terraform.tfstate"
region         = "ap-southeast-1"
encrypt        = true
dynamodb_table = "REPLACE_WITH_STAGING_TERRAFORM_LOCK_TABLE"
use_lockfile   = true
kms_key_id     = "REPLACE_WITH_STAGING_STATE_KMS_KEY_ARN"
